@page
@model PolaczeniaAutobusowe.Pages.Users.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Edytuj użytkownika</h2>
<br />
<form method="post">
    <div class=" border  backgroundWhite">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="ApplicationUser.Id" hidden />
        <input asp-for="ApplicationUser.Email" hidden />
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="ApplicationUser.Imie" class="text-info"></label>
                </div>
                <div class="col-sm-5">
                    <input asp-for="ApplicationUser.Imie" class="form-control" />
                </div>
            </div>
            <span asp-validation-for="ApplicationUser.Imie" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="ApplicationUser.Nazwisko" class="text-info"></label>
                </div>
                <div class="col-sm-5">
                    <input asp-for="ApplicationUser.Nazwisko" class="form-control" />
                </div>
            </div>
            <span asp-validation-for="ApplicationUser.Nazwisko" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="ApplicationUser.Email" class="text-info"></label>
                </div>
                <div class="col-sm-5">
                    <input asp-for="ApplicationUser.Email" disabled class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="ApplicationUser.Adres" class="text-info"></label>
                </div>
                <div class="col-sm-5">
                    <input asp-for="ApplicationUser.Adres" class="form-control" />
                </div>
            </div>
            <span asp-validation-for="ApplicationUser.Adres" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="ApplicationUser.KodPocztowy" class="text-info"></label>
                </div>
                <div class="col-sm-5">
                    <input asp-for="ApplicationUser.KodPocztowy" class="form-control" />
                </div>
            </div>
            <span asp-validation-for="ApplicationUser.KodPocztowy" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_EditAndBackToListButton" />
            </div>
        </div>
    </div>
</form>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

